* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(201, 196, 189);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
